<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <h3 class="dashboard__section-title">Medicine Details</h3>

            <div class="dashboard__section-actions">
                <input 
                    type="text" 
                    class="dashboard__section-search" 
                    placeholder="Search Specific Medicine"
                    oninput="searchMedicineRecord( this.value )"
                />

                <a href="/admin/manage/medicines/add" class="dashboard__section-add">
                    Add Medicine Record
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="dashboard__section-table">
            <thead>
                <tr>
                    <th>Medicine#</th>
                    <th>Medicine Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="medicineRecordsTableBody">
                <% let i = 0; %>
                <% if ( MedicineRecordsArray ) { %>
                    <% MedicineRecordsArray.forEach(singleMedicineRecord => { %>
                        <tr>
                            <td><%= ++i %></td>
                            <td><%= singleMedicineRecord.medicineName %></td>
                            <td><%= singleMedicineRecord.medicineCategory %></td>
                            <td>Rs. <%= singleMedicineRecord.medicinePrice %></td>
                            <td><%= singleMedicineRecord.medicineStock %></td>
                            <td>
                                <div class="dashboard__section-cell-actions">

                                    <a href="/admin/manage/medicines/view/<%= singleMedicineRecord._id %>" class="action-btn">
                                        <i class="fa-solid fa-eye"></i>
                                        More Info
                                    </a>

                                    <a href="/admin/manage/medicines/update/<%= singleMedicineRecord._id %>" class="action-btn">
                                        <i class="fa-solid fa-pen"></i>
                                        Update
                                    </a>

                                    <a href="/admin/manage/medicines/delete/<%= singleMedicineRecord._id %>" class="action-btn">
                                        <i class="fa-solid fa-trash"></i>
                                        Delete
                                    </a>

                                </div>
                            </td>
                        </tr>                        
                    <% }); %>
                <% } %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="dashboard__section-pagination">

            <%# Move to Previous Page %>
            <% let currentPage = MedicineRecordsPaginationInfo.page %>
            <% if ( MedicineRecordsPaginationInfo.hasPrevPage ) { %>
                <a 
                    href="/admin/manage/medicines/?page=<%= currentPage - 1 %>" 
                    class="pagination__btn"
                >
                    &laquo;
                </a>
            <% } %>

            <div class="pagination__numbers">
                <% if ( MedicineRecordsPaginationInfo ) { %>
                    <% if ( MedicineRecordsPaginationInfo.prevPage ) { %>
                        <a 
                            href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.prevPage %>" 
                            class="pagination__btn"
                        >
                            <%= MedicineRecordsPaginationInfo.prevPage %>
                        </a>
                    <% } %>

                    <a 
                        href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.page %>" 
                        class="pagination__btn"
                    >
                        <%= MedicineRecordsPaginationInfo.page  %>
                    </a>

                    <% if ( MedicineRecordsPaginationInfo.nextPage ) { %>
                        <a 
                            href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.nextPage %>" 
                            class="pagination__btn"
                        >
                            <%= MedicineRecordsPaginationInfo.nextPage %>
                        </a>
                    <% } %>
            <% } %>
            </div>

            <%# Move to Next Page %>
            <% if ( MedicineRecordsPaginationInfo.hasNextPage ) { %>
                <a 
                    href="/admin/manage/medicines/?page=<%= currentPage + 1 %>" 
                    class="pagination__btn"
                >
                    &raquo;
                </a>
            <% } %>


        </div>

    </div>
</div>

<script src="/js/scripts/medicines/search_medicines.js" ></script>
<%- include( "../../../partials/admin/footer" ) -%>