<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <div class="d-flex justify-content-between">
                <h3 class="dashboard__section-title">Medicine Details</h3>
                <a href="/admin/manage/medicines/stock/report/pdf" 
                class="link-danger link-underline-opacity-0" target="_blank">
                    <i class="fa-solid fa-download"></i>
                    Stock availability Report
                </a>
            </div>

            <div class="dashboard__section-actions">
                <input 
                    type="text" 
                    class="dashboard__section-search" 
                    placeholder="Search Specific Medicine"
                    oninput="searchMedicineRecord( this.value )"
                />

                <a href="/admin/manage/medicines/add" class="dashboard__section-add">
                    Add Medicine Record
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="dashboard__section-table">
            <thead>
                <tr>
                    <th>Medicine#</th>
                    <th>Medicine Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="medicineRecordsTableBody">
                <% let i = 0; %>
                <% if ( MedicineRecordsArray ) { %>
                    <% MedicineRecordsArray.forEach(singleMedicineRecord => { %>
                        <tr>
                            <td><%= ++i %></td>
                            <td><%= singleMedicineRecord.medicineName %></td>
                            <td><%= singleMedicineRecord.medicineCategory %></td>
                            <td>Rs. <%= singleMedicineRecord.medicinePrice %></td>
                            <td><%= singleMedicineRecord.medicineStock %></td>
                            <td>
                                <div class="dashboard__section-cell-actions">

                                    <a href="/admin/manage/medicines/view/<%= singleMedicineRecord._id %>" class="action-btn">
                                        <i class="fa-solid fa-eye"></i>
                                        More Info
                                    </a>

                                    <a href="/admin/manage/medicines/update/<%= singleMedicineRecord._id %>" class="action-btn">
                                        <i class="fa-solid fa-pen"></i>
                                        Update
                                    </a>

                                    <a 
                                        href="#"
                                        onclick="openDeleteConfirmationBox(this)"
                                        data-medicine-id = "<%= singleMedicineRecord._id %>"
                                        class="action-btn" 
                                        style="background-color: #c50000;">
                                        <i class="fa-solid fa-trash"></i>
                                        Delete
                                    </a>

                                </div>
                            </td>
                        </tr>                        
                    <% }); %>
                <% } %>
            </tbody>
        </table>

        <div id="deleteConfirmationContainerBg" class="delete-confirmation__container-background">
            <div id="deleteConfirmationContainer" class="delete-confirmation__container">
                
                <div class="delete-confirmation__header">
                    <div class="delete-confirmation__icon-container">
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </div>
                </div>

                <div class="delete-confirmation__body">
                    <div class="delete-confirmation__text">
                        <h3>Confirm Delete</h3>
                        <p>Do you really want to delete this item. This action can not be undone.</p>
                    </div>
                </div>

                <div class="delete-confirmation__footer">
                    <div class="delete-confirmation__input">
                        <input 
                            type="text"
                            id="deleteConfirmationInput"
                            class="delete-confirmation__input"
                            placeholder="Type 'yes' and click Delete below"
                        />
                    </div>


                    <div class="delete-confirmation__btn-container">
                        <button class="delete-confirmation__btn-cancel" onclick="cancelDeleteContainer()">
                            <i class="fa-solid fa-x"></i>
                            Cancel
                        </button>
                        <button class="delete-confirmation__btn-delete" onclick="deleteItemRecord()">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete
                        </button>
                    </div>
                </div>
            
            </div>
        </div>

        <!-- Pagination -->
        <div class="dashboard__section-pagination">

            <%# Move to Previous Page %>
            <% let currentPage = MedicineRecordsPaginationInfo.page %>
            <% if ( MedicineRecordsPaginationInfo.hasPrevPage ) { %>
                <a 
                    href="/admin/manage/medicines/?page=<%= currentPage - 1 %>" 
                    class="pagination__btn"
                >
                    &laquo;
                </a>
            <% } %>

            <div class="pagination__numbers">
                <% if ( MedicineRecordsPaginationInfo ) { %>
                    <% if ( MedicineRecordsPaginationInfo.prevPage ) { %>
                        <a 
                            href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.prevPage %>" 
                            class="pagination__btn"
                        >
                            <%= MedicineRecordsPaginationInfo.prevPage %>
                        </a>
                    <% } %>

                    <a 
                        href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.page %>" 
                        class="pagination__btn"
                    >
                        <%= MedicineRecordsPaginationInfo.page  %>
                    </a>

                    <% if ( MedicineRecordsPaginationInfo.nextPage ) { %>
                        <a 
                            href="/admin/manage/medicines/?page=<%= MedicineRecordsPaginationInfo.nextPage %>" 
                            class="pagination__btn"
                        >
                            <%= MedicineRecordsPaginationInfo.nextPage %>
                        </a>
                    <% } %>
            <% } %>
            </div>

            <%# Move to Next Page %>
            <% if ( MedicineRecordsPaginationInfo.hasNextPage ) { %>
                <a 
                    href="/admin/manage/medicines/?page=<%= currentPage + 1 %>" 
                    class="pagination__btn"
                >
                    &raquo;
                </a>
            <% } %>


        </div>

    </div>
</div>

<script>

    
let medicineId = "";
function openDeleteConfirmationBox(element) {
    medicineId = element.dataset.medicineId; 
    let background = document.getElementById( "deleteConfirmationContainerBg" );
    background.style.display = "flex";
}

function cancelDeleteContainer() {
    let background = document.getElementById( "deleteConfirmationContainerBg" );
    background.style.display = "none";
}

function deleteItemRecord() {
    let background = document.getElementById( "deleteConfirmationContainerBg" );
    let confirmDeleteInput = document.getElementById( "deleteConfirmationInput" ).value;
    if ( confirmDeleteInput.toLowerCase() == "yes" ) {
        window.location.replace( `/admin/manage/medicines/delete/${medicineId}` );
        window.location.reload();
    }
}


</script>
<script src="/js/scripts/medicines/search_medicines.js" ></script>
<%- include( "../../../partials/admin/footer" ) -%>