<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">View Medicine Details: </h3>
            
            <div class="dashboard__section-view-table-wrapper mt-4">

                <table class="dashboard__section-view-table">
                    <tbody>
                        <tr>
                            <th>Medicine Name</th>
                            <td><%= medicineRecordFromDB.medicineName %></td>
                        </tr>
                        <tr>
                            <th>Medicine Category</th>
                            <td><%= medicineRecordFromDB.medicineCategory %></td>
                        </tr>
                        <tr>
                            <th>Medicine Price</th>
                            <td><%= medicineRecordFromDB.medicinePrice %></td>
                        </tr>
                        <tr>
                            <th>Stock Quantity</th>
                            <td><%= medicineRecordFromDB.medicineStock %></td>
                        </tr>
                        <tr>
                            <th>Supplied By</th>
                            <td><%= medicineRecordFromDB.supplierId.supplierName %></td>
                        </tr>
                        <tr>
                            <th>Supplier Email</th>
                            <td><%= medicineRecordFromDB.supplierId.supplierEmail %></td>
                        </tr>
                        <tr>
                            <th>Supplier Contact</th>
                            <td><%= medicineRecordFromDB.supplierId.supplierPhone %></td>
                        </tr>
                        <tr>
                            <th>Supplier Address</th>
                            <td><%= medicineRecordFromDB.supplierId.supplierAddress %></td>
                        </tr>
                    </tbody>
                </table>

                <div class="dashboard__secion-actions">
                    <a href="/admin/manage/medicines" class="dashboard__secion-action-button">
                        Go Back
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>