<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="order-confirmation">
            <div class="order-confirmation__heading-container">
                <h1 class="order-confirm__heading">Place an Order</h1>
            </div>

            <div class="order-confirmation__body-container">
                <div class="order-confirmation__info">
                    <h4>Payment Method</h4>
                    <hr />
                </div>

                <div class="shopping-cart__order-container">
                    <div class="shopping-cart__order-details">
                        <h3 class="shopping-cart__order-title">Order Summary</h3>
                        <div class="shopping-cart__order-details-row">
                            <p>Subtotal</p>
                            <p>
                                <i>Rs.</i><%= totalAmount %>
                            </p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p>Delivery Charges</p>
                            <p><i>Rs.</i>300</p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p>Items</p>
                            <p><%= totalCartItems %></p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p><b><i>Total</i></b></p>
                            <p><b>Rs.<%= (totalAmount + 300) %></b></p>
                        </div>
                    </div>

                    <div class="shopping-cart__order-actions">
                        <a href="/profile/cart/checkout" class="btn btn-dark w-100 rounded rounded-5">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/scripts/cart/cart.js"></script>
<script src="/js/scripts/home/postlogin/search_medicine.js"></script>
<%- include( "../partials/footer/footer" ) -%>