<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="order-confirmation">
            <div class="order-confirmation__heading-container">
                <h1 class="order-confirmation__heading">Place an Order</h1>
            </div>

            <div class="order-confirmation__body-container">
                <div class="order-confirmation__info">
                    <h4>Payment Method</h4>
                    <hr />
                    <form action="/profile/cart/checkout" method="POST">
                        <div>
                            <label for="cod_opt">
                                <input
                                    id="cod_opt" 
                                    type="radio" 
                                    name="payment_method"
                                    onclick="showPaymentInfo(1)"
                                    value="cash on delivery"
                                    checked="checked" /> Cash On Delivery
                            </label>
                        </div>
                        <div>
                            <label for="bank_transfer_opt">
                                <input 
                                    id="bank_transfer_opt" 
                                    type="radio" 
                                    onclick="showPaymentInfo(2)"
                                    name="payment_method"
                                    value="bank transfer" /> Bank Transfer
                            </label>
                        </div>
                        <div>
                            <label for="easypaisa_opt">
                                <input 
                                    id="easypaisa_opt" 
                                    type="radio"
                                    onclick="showPaymentInfo(3)"
                                    name="payment_method" 
                                    value="easypaisa" /> Easypaisa
                            </label>
                        </div>
                        <div>
                            <label for="jazzcash_opt">
                            <input 
                                id="jazzcash_opt" 
                                type="radio"
                                onclick="showPaymentInfo(4)"
                                name="payment_method" 
                                value="jazzcash" /> JazzCash
                            </label>                                
                        </div>
                    </form>

                    <div class="payment-box__container">

                        <div class="payment-box__info">
                            <p>No details required. Pay on delivery.</p>
                        </div>

                        <div class="payment-box__info">
                            <div class="payment-box__image-container w-100">
                                <img 
                                    src="/assets/images/easypaisa.jpg"
                                    class="payment-box__image"
                                    style="width: 300px; border-radius: 20px;"
                                />
                            </div>
                            <div class="payment-box__input-container">
                                <label for="easypaisa_account" class="d-block">Account Name: </label>
                                <input type="text" id="easypaisa_account" placeholder="Enter your Easypaisa Account Name" />
                            </div>
                            <div class="payment-box__input-container">
                                <label for="easypaisa_phone" class="d-block">Phone number: </label>
                                <input type="text" id="easypaisa_phone" placeholder="Enter your Easypaisa phone number" />
                            </div>
                            <div class="payment-box__submit-btn w-100">
                                <button onclick="">Payment Done</button>
                            </div>
                        </div>

                        <div class="payment-box__info">
                            <div class="payment-box__input-container">
                                <label for="jazzcash_account" class="d-block">Account Name: </label>
                                <input type="text" id="jazzcash_account" placeholder="Enter your JazzCash Account Name" />
                            </div>
                            <div class="payment-box__input-container">
                                <label for="jazzcash_phone" class="d-block">Phone number: </label>
                                <input type="text" id="jazzcash_phone" placeholder="Enter your JazzCash phone number" />
                            </div>
                            <div class="payment-box__submit-btn w-100">
                                <button onclick="">Payment Done</button>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="shopping-cart__order-container">
                    <div class="shopping-cart__order-details">
                        <h3 class="shopping-cart__order-title">Order Summary</h3>
                        <div class="shopping-cart__order-details-row">
                            <p>Subtotal</p>
                            <p>
                                <i>Rs.</i><%= totalAmount %>
                            </p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p>Delivery Charges</p>
                            <p><i>Rs.</i>300</p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p>Items</p>
                            <p><%= totalCartItems %></p>
                        </div>
                        <div class="shopping-cart__order-details-row">
                            <p><b><i>Total</i></b></p>
                            <p><b>Rs.<%= (totalAmount + 300) %></b></p>
                        </div>
                    </div>

                    <div class="shopping-cart__order-actions">
                        <a href="/profile/cart/checkout" class="btn btn-dark w-100 fs-5 rounded rounded-5">
                            <b>Confirm Order</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/scripts/cart/cart.js"></script>
<script src="/js/scripts/home/postlogin/search_medicine.js"></script>
<%- include( "../partials/footer/footer" ) -%>