<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="product">
            <div class="product__container">

                <div class="product__image-container">
                    <img src="/uploads/medicines/<%= singleMedicineRecord.medicineImage %>" 
                    alt="Medicine" class="product__image">
                </div>

                <div class="product__details">
                    <div class="product__details-header">
                        <div class="product__details-header-top">
                            <h1 class="product__title"><%= singleMedicineRecord.medicineName %></h1>
                        </div>

                        <div class="product__details-header-bottom">
                            <div class="product__subtitle d-flex justify-content-between">
                                <p class="product__category">
                                    <%= singleMedicineRecord.medicineCategory %>
                                </p>

                                <p class="product__stock">
                                    <% if ( singleMedicineRecord.medicineStock == 0 ) { %>
                                        <i class="fa-solid fa-circle-exclamation"></i>
                                        Out of Stock
                                    <% } %>
                                </p>
                            </div>                            
                            <p class="product__price">
                                Rs. <span id="product-price">
                                    <%= singleMedicineRecord.medicinePrice %>
                                </span>
                            </p>
                        </div>
                    </div>

                    <form 
                        action="/profile/cart/add/<%= singleMedicineRecord._id %>" 
                        method="POST" 
                        style="width: 100%;"
                        id="postDataToCartForm"
                    >
                        <input 
                            type="hidden" 
                            id="medicineId"
                            name="medicineId"
                            value="<%= singleMedicineRecord._id %>" 
                        />

                        <div class="medicine-safety">
                            <h5>Safety Information</h5>

                            <ul type="a">
                                <li>
                                    <i class="fa-solid fa-snowflake d-inline-block me-1"></i>
                                    Store in a cool and dry place.
                                </li>
                                <li>
                                    <i class="fa-solid fa-child-reaching d-inline-block me-1"></i>
                                    Keep out of reach of children.
                                </li>
                                <li>
                                    <i class="fa-solid fa-user-doctor d-inline-block me-1"></i>
                                    Use as directed by physician/pharmacist.
                                </li>
                                <li>
                                    <i class="fa-solid fa-calendar-days d-inline-block me-1"></i>
                                    Do not use after expiry date.
                                </li>
                            </ul>
                        </div>

                        <div class="product__details-footer">
                            <div class="product__quantity">
                                <button type="button" class="product__btn product__btn--minus">-</button>
                                <input type="text" id="quantity" value="1" class="product__input" readonly>
                                <button type="button" class="product__btn product__btn--plus">+</button>
                            </div>
                        </div>


                        <button 
                            type="submit"
                            class="product__cart-btn <%= (singleMedicineRecord.medicineStock == 0)? "disabled" : "" %>"
                            id="submitBtn"
                        >
                            <% if ( singleMedicineRecord.medicineStock == 0 ) { %>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                Out of Stock
                            <% } else { %>
                                Add to Cart
                            <% } %>
                        </button>

                        <% if ( errorMessage ) { %>
                            <div class="alert-box">
                                <p class="mb-0"><b>Error: </b><%= errorMessage %></p>
                            </div>
                        <% } %>
                    </form>
                </div>

            </div>
        </div>

        
    </div>
</div>


<script>
    const userId = "<%= loggedInUserId %>";
    const medicineId = document.getElementById( "medicineId" ).value;
    let medicinePrice = Number("<%= singleMedicineRecord.medicinePrice %>");
    let medicineStock = Number( "<%= singleMedicineRecord.medicineStock %>" );

</script>
<script src="/js/scripts/product.js"></script>
<script src="/js/scripts/home/postlogin/search_medicine.js"></script>
<%- include( "../partials/footer/footer" ) -%>