<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="product">
            <div class="product__container">

                <div class="product__image-container">
                    <img src="/uploads/medicines/<%= singleMedicineRecord.medicineImage %>" 
                    alt="Medicine" class="product__image">
                </div>

                <div class="product__details">
                    <div class="product__details-header">
                        <div class="product__details-header-top">
                            <h1 class="product__title"><%= singleMedicineRecord.medicineName %></h1>
                        </div>

                        <div class="product__details-header-bottom">
                            <p class="product__category"><%= singleMedicineRecord.medicineCategory %></p>
                            <p class="product__price">Rs. <%= singleMedicineRecord.medicinePrice %></p>
                        </div>
                    </div>

                    <div class="product__details-footer">
                        <div class="product__quantity">
                            <button class="product__btn product__btn--minus">-</button>
                            <input type="text" value="1" class="product__input" readonly>
                            <button class="product__btn product__btn--plus">+</button>
                        </div>
                    </div>

                    <button class="product__cart-btn">Add to Cart</button>
                </div>

            </div>
        </div>

    <script src="/js/scripts/product.js"></script>

    </div>
</div>



<%- include( "../partials/footer/footer" ) -%>