<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="card-container">

            <%# Printing cards on a "http://localhost:5050/profile" %>
                <% if ( MedicinesRecordsFromDB ) { %>
                    <% MedicinesRecordsFromDB.forEach(singleMedicineRecord => { %>
                        <%#-- Card --%>
                        <div class="card">
                            <div class="card-header">
                                <img 
                                    src="/uploads/medicines/<%= singleMedicineRecord.medicineImage %>" 
                                    alt="Medicine">
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">
                                    <%= singleMedicineRecord.medicineName %>
                                </h3>

                                <div class="card-info">
                                    <span class="category">
                                        <%= singleMedicineRecord.medicineCategory %>
                                    </span>
                                    <span class="price">
                                        Rs. <%= singleMedicineRecord.medicinePrice %>
                                    </span>
                                </div>

                                <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                                    Add to Cart
                                </a>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            <%# End of forEach loop %>

        </div>
    </div>

    <div class="pagination-container">
        <a href="#" class="page-btn arrow">&laquo;</a>
        <a href="#" class="page-btn">1</a>
        <a href="#" class="page-btn">2</a>
        <a href="#" class="page-btn arrow">&raquo;</a>
    </div>

    

</div>



<%- include( "../partials/footer/footer" ) -%>