<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <h3 class="dashboard__section-title">Customer Details</h3>

            <div class="dashboard__section-actions">
                <input 
                    type="text" 
                    class="dashboard__section-search" 
                    placeholder="Search Specific Customer"
                />

                <a href="/admin/manage/customers/add" class="dashboard__section-add">
                    Add Customer Record
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="dashboard__section-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% let i = 0; %>
                <% CustomerRecordsArray.forEach(singleCustomerRecord => { %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= singleCustomerRecord.customerName %></td>
                        <td><%= singleCustomerRecord.customerPhone %></td>
                        <td><%= singleCustomerRecord.customerAddress %></td>
                        <td>
                            <div class="dashboard__section-cell-actions">

                                <a href="/admin/manage/customers/view/<%= singleCustomerRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-eye"></i>
                                    More Info
                                </a>

                                <a href="/admin/manage/customers/update/<%= singleCustomerRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-pen"></i>
                                    Update
                                </a>

                                <a href="/admin/manage/customers/delete/<%= singleCustomerRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </a>

                                <a href="/admin/manage/customers/login/<%= singleCustomerRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-arrow-right-to-bracket pe-2"></i>
                                    Login
                                </a>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="dashboard__section-pagination">

        <%# Move to Previous Page %>
        <% let currentPage = CustomerRecordsPaginationInfo.page %>
        <% if ( CustomerRecordsPaginationInfo.hasPrevPage ) { %>
            <a 
                href="/admin/manage/customers/?page=<%= currentPage - 1 %>" 
                class="pagination__btn"
            >
                &laquo;
            </a>
        <% } %>

        <div class="pagination__numbers">
            <% if ( CustomerRecordsPaginationInfo ) { %>
                <% if ( CustomerRecordsPaginationInfo.prevPage ) { %>
                    <a 
                        href="/admin/manage/customers/?page=<%= CustomerRecordsPaginationInfo.prevPage %>" 
                        class="pagination__btn"
                    >
                        <%= CustomerRecordsPaginationInfo.prevPage %>
                    </a>
                <% } %>

                <a 
                    href="/admin/manage/customers/?page=<%= CustomerRecordsPaginationInfo.page %>" 
                    class="pagination__btn"
                >
                    <%= CustomerRecordsPaginationInfo.page  %>
                </a>

                <% if ( CustomerRecordsPaginationInfo.nextPage ) { %>
                    <a 
                        href="/admin/manage/customers/?page=<%= CustomerRecordsPaginationInfo.nextPage %>" 
                        class="pagination__btn"
                    >
                        <%= CustomerRecordsPaginationInfo.nextPage %>
                    </a>
                <% } %>
        <% } %>
        </div>

        <%# Move to Next Page %>
        <% if ( CustomerRecordsPaginationInfo.hasNextPage ) { %>
            <a 
                href="/admin/manage/customers/?page=<%= currentPage + 1 %>" 
                class="pagination__btn"
            >
                &raquo;
            </a>
        <% } %>

        </div>

</div>

<%- include( "../../../partials/admin/footer" ) -%>