<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">Customer Details: </h3>
            
            <div class="mt-4">

                <table class="user__section-view-table">
                    <tbody>
                        <tr>
                            <th>Customer Name</th>
                            <td><%= singleCustomerRecord.customerName %></td>
                        </tr>
                        <tr>
                            <th>Customer Email</th>
                            <td><%= singleCustomerRecord.customerEmail %></td>
                        </tr>
                        <tr>
                            <th>Customer Phone</th>
                            <td><%= singleCustomerRecord.customerPhone %></td>
                        </tr>
                        <tr>
                            <th>Customer Address</th>
                            <td><%= singleCustomerRecord.customerAddress %></td>
                        </tr>
                        <tr>
                            <th>Customer City</th>
                            <td><%= singleCustomerRecord.customerCity %></td>
                        </tr>
                        <tr>
                            <th>Customer Country</th>
                            <td><%= singleCustomerRecord.customerCountry %></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div class="dashboard__section pt-0">
        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">Customer Orders history: </h3>

            <div class="mt-4">
                <table class="dashboard__section-table">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Total Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% customerOrdersRecordInDB.forEach((customerOrderHistory, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <% 
                                        let monthNames = [
                                         "January", "February", "March", "April",
                                         "May", "June", "July", "August", 
                                         "September", "October", "November", 
                                         "December"
                                        ];
                                        let dayNames = ["Sunday", "Monday", 
                                        "Tuesday", "Wednesday", "Thursday", 
                                        "Friday", "Saturday"];

                                        let orderDate = new Date( customerOrderHistory.createdAt );
                                        let date = orderDate.getDate();
                                        let month = monthNames[ orderDate.getMonth() ];
                                        let year = orderDate.getFullYear();
                                        let weekDay = dayNames[orderDate.getDay()];
                                        let hour = orderDate.getHours().toString().padStart( 2, "0" )
                                        let minute = orderDate.getMinutes().toString().padStart( 2, "0" )
                                        let second = orderDate.getSeconds().toString().padStart( 2, "0" )
                                    %>
                                    <%= `${weekDay}, ${month} ${date}, ${year}` %>
                                </td>
                                <td>
                                    <%= `${hour}:${minute}:${second}` %>
                                </td>
                                <td>
                                    <%= customerOrderHistory.totalAmount %>
                                </td>
                                <td>
                                    <div class="dashboard__section-cell-actions">
                                        <a href="/admin/manage/orders/view/<%= customerOrderHistory._id %>" class="action-btn">
                                            <i class="fa-solid fa-eye"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>

            <div class="dashboard__secion-actions">
                <a href="/admin/manage/customers" class="dashboard__secion-action-button">
                    Go Back
                </a>
            </div>

        </div>
    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>