<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <h3 class="dashboard__section-title">Order Details</h3>

            <div class="dashboard__section-actions">
                <input 
                    type="text"
                    style="width: 100% !important;"
                    class="dashboard__section-search" 
                    placeholder="Search Specific Order"
                />
            </div>
        </div>

        <!-- Table -->
        <table class="dashboard__section-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Customer Name</th>
                    <th>Total Amount</th>
                    <th>Payment Method</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% customersOrder.forEach(( singleOrder, index ) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= singleOrder.customerId.customerName %></td>
                        <td><%= singleOrder.totalAmount %></td>
                        <td>COD</td>
                        <% const date = new Date() %>
                        <td><%= `${date.getDate()}/${date.getMonth()}/${date.getFullYear()}` %></td>
                        <td>
                            <select class="order-status" data-order-id="order_id_101">
                                <option value="Pending" selected>Pending</option>
                                <option value="Processing">Processing</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </td>
                        <td>
                            <div class="dashboard__section-cell-actions">
                                <a href="/admin/manage/orders/view/order_id_789" class="action-btn">
                                    <i class="fa-solid fa-eye"></i>
                                    More Info
                                </a>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="dashboard__section-pagination">

            <a href="#" class="pagination__btn">&laquo;</a>

            <div class="pagination__numbers">
                <a href="#" class="pagination__btn">1</a>
                <a href="#" class="pagination__btn">2</a>
                <a href="#" class="pagination__btn">3</a>
            </div>

            <a href="#" class="pagination__btn">&raquo;</a>

        </div>

    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>