<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <h3 class="dashboard__section-title">Supplier Details</h3>

            <div class="dashboard__section-actions">
                <input 
                    type="text" 
                    class="dashboard__section-search" 
                    placeholder="Search Specific Supplier"
                    oninput="searchSupplierRecord( this.value )"
                />

                <a href="/admin/manage/suppliers/add" class="dashboard__section-add">
                    Add Supplier Record
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="dashboard__section-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="suppliersRecordsTableBody">
                <% let i = 0 %>
                <% suppliersRecordsInDatabase.forEach(singleSupplierRecord => { %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= singleSupplierRecord.supplierName %></td>
                        <td><%= singleSupplierRecord.supplierPhone %></td>
                        <td><%= singleSupplierRecord.supplierAddress %></td>
                        <td>
                            <div class="dashboard__section-cell-actions">

                                <a href="/admin/manage/suppliers/view/<%= singleSupplierRecord._id %>" 
                                class="action-btn">
                                    <i class="fa-solid fa-eye"></i>
                                    More Info
                                </a>

                                <a href="/admin/manage/suppliers/update/<%= singleSupplierRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-pen"></i>
                                    Update
                                </a>

                                <a href="/admin/manage/suppliers/delete/<%= singleSupplierRecord._id %>" class="action-btn">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </a>

                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="dashboard__section-pagination">

            <% let page = currentPage; %>
            <a 
                href="/admin/manage/suppliers?page=<%= ( page > 1 )? (page - 1) : 1 %>" 
                class="pagination__btn"
            >
                &laquo;
            </a>

            <div class="pagination__numbers">
                <% for ( let i = 1; i < 3; ++i ) { %>
                    <a href="/admin/manage/suppliers?page=<%= i %>" class="pagination__btn">
                        <%= i %>
                    </a>            
                <% } %>
            </div>

            <a 
                href="/admin/manage/suppliers?page=<%= (page < totalPages)? ( page + 1 ) : totalPages %>" 
                class="pagination__btn"
            >
                &raquo;
            </a>

        </div>

    </div>
</div>

<script src="/js/scripts/suppliers/search_suppliers.js"></script>
<%- include( "../../../partials/admin/footer" ) -%>